.inputWindow {
    width: 407px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputWindowHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 1.3em;
}

.inputList, .addForm, .inputListItem {
    display: flex;
    flex-direction: column;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox label {
    font-size: 1em;
    margin-top: 10px;
}

.inputBox .required {
    font-size: 0.8em;
    color: brown;
    opacity: 0.9;
}

.inputBox input {
    font-size: 0.9em;
    width: 400px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 5px;
}

.inputBox textarea {
    font-size: 0.9em;
    height: 73px;
    resize: vertical;
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.divider {
    margin: 20px;
    border: 1px solid rgb(160, 160, 160);
}

button {
    font-size: 1.3em;
    width: fit-content;
    padding: 5px 20px;
    height: 35px;
    margin-top: 10px;
}
