.page {
    padding: 15mm;
    width: 210mm;
    height: 297mm;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 10mm;
}

.border {
    border: 2px solid black;
}

.header,
.list-item {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 2em;
}

.personal-info h3,
.links,
.item-dates h3,
.item-content.skill h4 {
    font-weight: 100;
    font-size: 1.1em;
}

.links {
    margin-top: 2mm;
}

.item-dates h3  {
    font-size: 1.1em;
    margin-bottom: 2mm;
}

.section {
    display: flex;
    flex-direction: column;
}

.section > h3 {
    margin-bottom: 4mm;
}

.item-content {
    width: 80%;
}

.item-content h4 {
    margin-bottom: 2mm;
}

.item-content.skill {
    display: flex;
}

.item-content.skill h4 {
    width: 40%;
}

.item-content.skill :first-child {
    font-weight: 700;
}

.list-item {
    margin-bottom: 5mm;
}

.list-item.skill {
    margin-bottom: 1mm;
}