@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    padding: 30px 5%;
}

.CVPreview {
    border: 2px solid black;
    width: 210mm;
    height: 297mm;
}

.inputWindow {
    width: 407px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputWindowHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputWindowHeader img {
    width: 25px;
    cursor: pointer;
}

h2 {
    font-size: 1.3em;
}

.inputBox, .inputList, .addForm, .inputListItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputBox label {
    font-size: 1em;
}

.inputBox .required {
    font-size: 0.8em;
    color: brown;
    opacity: 0.9;
}

.inputBox input {
    font-size: 0.9em;
    width: 400px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 5px;
}

.inputBox textarea {
    font-size: 0.9em;
    height: 60px;
    resize: vertical;
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.divider {
    margin: 20px;
    border: 1px solid rgb(160, 160, 160);
}

button {
    font-size: 1.3em;
    width: 100px;
    height: 35px;
}
